/* Unified Resume Sections Styling */

/* Base Section Styles */
.section {
  margin-bottom: var(--spacing-s);
  width: 100%;
}

.section-header {
  text-align: left;
  color: var(--text-color);
  
}

.section-content {
  text-align: left;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  border-radius: var(--radius-md);
  padding: var(--spacing-lg);
  box-sizing: border-box;
  transition: transform var(--transition-normal),
              box-shadow var(--transition-normal);
}

.section-content:hover {
  transform: translateY(-4px);
  
  border-color: var(--primary-hover);
  
}

.section-content p {
  color: var(--text-color);
  line-height: 1.8;
  margin-bottom: var(--spacing-md);
  font-size: var(--font-size-base);
}

.section-content p:last-child {
  margin-bottom: 0;
}

/* Specific Section Variations */
.section-container {
  border-radius: var(--radius-lg);
  padding: var(--spacing-sm);
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section Headers */
.section h2,
#about h2,
#skills h2,
#experience h2,
#projects h2,
#resume h2 {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  text-align: left;
  width: 100%;
  max-width: 1080px;
  border-bottom: var(--border-thickness) solid var(--underline-color);
  font-weight: bold;
}

.section h3,
#about h3,
#skills h3,
#experience h3,
#projects h3,
#resume h3 {
  color: var(--text-color);
  font-size: 1.25rem;
  margin-bottom: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  text-align: left;
  width: 100%;
  max-width: 1080px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .section-container {
    padding-top: var(--header-height);
  }

  .section h2,
  #about h2,
  #skills h2,
  #experience h2,
  #projects h2,
  #my-resume h2 {
    font-size: 1.75rem;
  }

  .section-content {
    padding: var(--spacing-md);
    margin: 0 var(--spacing-md);
  }

  .section-content p {
    color: var(--text-color);
    line-height: 1.3;
    margin-bottom: var(--spacing-sm);
    font-size: var(--font-size-mobile-base);
    max-width: 95%;
  }

  .section h3,
  #about h3,
  #skills h3,
  #experience h3,
  #projects h3,
  #my-resume h3 {
    color: var(--text-color);
    font-size: 1.1rem;
    margin-bottom: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    text-align: left;
    width: 100%;
    max-width: 1080px;
  }

  .section h4,
  #about h4,
  #skills h4,
  #experience h4,
  #projects h4,
  #my-resume h4 {
    color: var(--text-color);
    font-size: .75rem;
    margin-bottom: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    text-align: left;
    width: 100%;
    max-width: 1080px;
  }
}

@media (max-width: 480px) {
  .section-container {
    padding-top: var(--header-height);
  }
}
