/* Global Styles */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 2;
  padding: 100px 20px 20px;
  transition: margin-left 0.1s ease-in-out, opacity 0.1s ease-in-out;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Text Shadow */
body, .content, section, .job, .project {
  text-shadow: 1px 1px 1px var(--text-shadow-color);
}
