/* Header Styles */
.floating-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--top-tbackground-color);
  backdrop-filter: var(--top-tbackground-blur);
  z-index: 1001;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  gap: 15px;
}

.name-title {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.floating-header h1 {
  font-size: 2em;
  margin: 0;
  color: var(--header-text-color);
  text-shadow: 2px 2px 4px var(--text-shadow-color);
}

.floating-header h2 {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
  color: var(--header-text-color);
}

/* Header Navigation Styles */
.header-nav {
  display: flex;
  align-items: center;
  height: 65px;
  min-height: 65px;
}

.header-nav a {
  color:var(--resume-link-color);
  text-decoration: none;
  padding: 0px 12px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.header-nav a:hover {
  color: var(--text-color);
  background-color: transparent;
}

.header-nav .icon {
  width: 35px;
  height: 35px;
  object-fit: contain;
  border-radius: 90%;
  font-size: 1.8em;
  background-color: var(--resume-link-color);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav .icon:hover {
  border-radius: 100%;
  padding: 1px 2px;
  box-shadow: 0 0 20px 10px var(--button-hover-background);
  background-color: transparent;
}

/* Resume Link Styles */
.resume-link {
  background-color: var(--resume-background-color);
  padding: 1px 5px;
  border-radius: 24px;
  font-size: 1.3em;
  transition: background-color 0.3s ease;
  color: var(--resume-link-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-link:hover {
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 8px 12px;
  box-shadow: 0 0 20px 10px var(--button-hover-background);
}
