/* Main Content Styles */
main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

section {
  background-color: var(--tbackground-color);
  backdrop-filter: var(--tbackground-blur);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.skill-icon, .job-icon, .project-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  object-fit: contain;
}

.job, .project {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.job > div, .project > div {
  flex: 1;
}

.project a {
  color: var(--link-color);
  text-decoration: none;
  text-shadow: 1px 1px 1px var(--text-shadow-color);
}

.project a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}
