/* CSS Variables */

:root {
  /* 1. Color Palette */
  --primary: #0403ff;
  --black: black;
  --white: white;

  /* 2. Light Theme Variables */
  --background-color: var(--white);
  --text-color: var(--black);
  --link-color: var(--black);
  --hover-color: var(--primary);
  --button-background: #57575700;
  --button-text: var(--primary);
  --button-hover-background: var(--primary);
  --button-border: var(--black);
  --header-background: #f1f1f1;
  --header-text-color: var(--black);
  --footer-background: #f1f1f1;
  --footer-text-color: var(--black);
  --navbar-background: transparent;
  --navbar-link-color: var(--black);
  --resume-link-color: var(--white);
  --resume-background-color: black;
  --navbar-hover-background: #e0e0e0;
  --navbar-hover-color: var(--black);
  --sidebar-text-color: var(--black);
  --top-tbackground-color: rgba(255, 255, 255, 0.1);
  --top-tbackground-blur: blur(5px);
  --tbackground-color: rgba(255, 255, 255, 0.01);
  --tbackground-blur: blur(3px);
  --text-shadow-color: rgba(0, 0, 0, 0.1);
  
  /* Section and skill category backgrounds */
  --section-background: #0303ff13;
  --section-background-blur: blur(3px);
  --skill-category-background: #0303ff00;

  /* 3. Layout Variables */
  --max-content-width: 1800px;
  --side-panel-width: 150px;
}

/* 4. Dark Theme Variables */
body.dark-theme {
  --background-color: var(--black);
  --text-color: var(--white);
  --link-color: var(--white);
  --hover-color: var(--primary);
  --button-background: transparent;
  --button-text: var(--primary);
  --button-hover-background: var(--primary);
  --button-border: var(--black);
  --header-background: #1a1a1a;
  --header-text-color: var(--white);
  --footer-background: #1a1a1a;
  --footer-text-color: var(--white);
  --navbar-background: transparent;
  --navbar-link-color: transparent;
  --resume-link-color: var(--black);
  --resume-background-color: var(--white);
  --navbar-hover-background: #575757;
  --navbar-hover-color: var(--white);
  --sidebar-text-color: var(--white);
  --top-tbackground-color: rgba(0, 0, 0, .15);
  --top-tbackground-blur: blur(5px);
  --tbackground-color: rgba(0, 0, 0, 0.05);
  --tbackground-blur: blur(3px);
  --text-shadow-color: rgba(255, 255, 255, 0.1);

  /* Uncomment and adjust these if needed for dark theme */
  /*
  --section-background: #0303ff10;
  --section-background-blur: blur(2px);
  --skill-category-background: #0303ff1d;
  */
}
