:root {
  --primary: #0403ff;
  --black: black;
  --white: white;

  --tbackground-color: rgba(0, 0, 0, 0.03); 
  --tbackground-blur: blur(3px); 

  /* Light theme default */
  --background-color: var(--white);
  --text-color: var(--black);
  --link-color: var(--black);
  --hover-color: var(--primary);
  --button-background: #57575700;
  --button-text: var(--primary);
  --button-hover-background: var(--primary);
  --button-border: var(--black);
  --header-background: #f1f1f1;
  --header-text-color: var(--black);
  --footer-background: #f1f1f1;
  --footer-text-color: var(--black);
  --navbar-background: transparent;
  --navbar-link-color: var(--black);
  --resume-link-color: var(--white);
  --resume-background-color: black;
  --navbar-hover-background: #e0e0e0;
  --navbar-hover-color: var(--black);
  --sidebar-text-color: var(--black);
  
}

body.dark-theme {
  --background-color: var(--black);
  --text-color: var(--white);
  --link-color: var(--white);
  --hover-color: var(--primary);
  --button-background: transparent;
  --button-text: var(--primary);
  --button-hover-background: var(--primary);
  --button-border: var(--black);
  --header-background: #1a1a1a;
  --header-text-color: var(--white);
  --footer-background: #1a1a1a;
  --footer-text-color: var(--white);
  --navbar-background: transparent;
  --navbar-link-color: transparent;
  --resume-link-color: var(--black);
  --resume-background-color: var(--white);
  --navbar-hover-background: #575757;
  --navbar-hover-color: var(--white);
  --sidebar-text-color: var(--white);
  
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--hover-color);
}

button {
  background-color: var(--button-background);
  color: var(--button-text);
  border: 1px solid var(--button-border);
}

button:hover {
  background-color: var(--button-hover-background);
  color: var(--button-text);
}

header {
  background-color: var(--header-background);
  color: var(--header-text-color);
}

footer {
  background-color: var(--footer-background);
  color: var(--footer-text-color);
}

nav {
  background-color: var(--navbar-background);
}

nav a {
  color: var(--navbar-link-color);
}

nav a:hover {
  background-color: var(--navbar-hover-background);
  color: var(--navbar-hover-color);
}
